---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact DigitalSoup">
  <main class="pb-10 pt-36 md:pt-40">
    <Container>
      <ContactForm />
    </Container>
  </main>
</Layout>