---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
---

<Layout title="digitalsoup">
  <main class="space-y-10 pb-6 md:space-y-12">
    <Hero />
    <Services />
    <Team />
  </main>
</Layout>