---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import ProcessSteps from "../components/ProcessSteps.astro";
import Results from "../components/Results.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
---

<Layout title="digitalsoup">
  <main class="space-y-8 pb-6 md:space-y-12">
    <Hero />
    <Services />
    <ProcessSteps />
    <Results />
    <Faq />
    <FinalCta />
  </main>
</Layout>
