---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>DigitalSoup</title>
    <meta
      name="description"
      content="At DigitalSoup, we help businesses grow by crafting custom digital marketing strategies that connect brands with their audience."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Sora:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="theme-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>